@charset "utf-8";html{background:#fff;color:#000}
article,aside,blockquote,body,button,code,dd,details,div,dl,dt,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,hr,input,legend,li,menu,nav,ol,p,pre,section,td,textarea,th,ul{margin:0;padding:0}
body,button,input,select,textarea{font:12px \5b8b\4f53,arial,sans-serif}
body,html{font-family:"微软雅黑",arial,sans-serif;background-color:#202020;position:relative;overflow-x:hidden;overflow-y:auto}
html{-o-overflow-style:-o-autohiding-scrollbar;-webkit-font-smoothing:antialiased;-webkit-overflow-scrolling:touch;-moz-overflow-scrolling:touch;-o-overflow-scrolling:touch;overflow-scrolling:touch}
img{border:0;display:inline-block;max-width:100%;vertical-align:middle}
input,select,textarea{font-size:100%;font-family:"微软雅黑";line-height:20px;display:inline-block;outline:0}
input:focus,select:focus,textarea:focus{border:1px solid #735a6f}
button{background:0 0;border:none;cursor:pointer}
table{border-collapse:collapse;border-spacing:0}
th{text-align:inherit}
fieldset,img{border:none}
iframe{display:block}
abbr,acronym{border:none;font-variant:normal}
del{text-decoration:line-through}
i{font-style:normal}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
q:after,q:before{content:''}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
/* a{color:#000;} */
a:hover{text-decoration:none}
a,ins{text-decoration:none}
a:focus{outline:0}
.clearfix:after,.clearfix:before{content:"";display:table}
.clearfix:after{clear:both;overflow:hidden}
.clearfix{zoom:1}
.clear{clear:both;display:block;font-size:0;height:0;line-height:0;overflow:hidden}
.hide{display:none}
.block{display:block}
.fl,.fr{display:inline}
.fl{float:left}
.fr{float:right}
.txt-a {text-align: center;}
.over {overflow: hidden;}
.ib {display: inline-block;}
.mt10 {margin-top: 10px;}
.pb30 {padding-bottom: 30px;}
.cs {cursor: pointer;}
body {
    background: white;
    /* overflow: hidden; */
    position: relative;
}
body ::-webkit-scrollbar {
    display: none;
}

.w1200{
  width: 1200px;
}
.container {
    width: 100%;
}
.container .header {
    width: 1200px;
    height: 110px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner img {
  width:100%;
}

.nav {
  width:100%;
  text-align: center;
  margin-top:-40px;
  position: relative;
  top:200px;
}
.nav .title {
  margin-bottom:30px;
}
.nav .box {
  width:1200px;
  height: 269px;
  display: flex;
  justify-content: space-between;
}
.nav .box span {
  display: block;
  font-size: 22px;
  font-family: PingFang SC;
  color: #232323;
}

.content {
  width: 100%;
  /* height: 1132px; */
  background: url(../image/bg.png) no-repeat;
  background-size: 100% 100%;
  margin-top:-40px;
}
.content .box {
  margin:0 auto;
}
.box .line {
  width: 1200px;
  height: 530px;
  margin:0 auto;
}
/* .line .title {margin-top: -16px;} */

.line .middle {
  width: 743px;
  height: 530px;
  margin: 25px auto 0;
}
.middle .jindu {
  position: relative;
  width: 339px;
  height: 255px;
  background: url(../image/jindu.png) no-repeat;
  margin: 0 auto;
}
.jindu .zhen {
  width: 104px;
  height: 48px;
  position: absolute;
}
.jindu .text {
  position: absolute;
  bottom: -40px;
  width: 100%;
  height: 80px;
}
.jindu .text .p1 {
  font-size: 20px;
}
.jindu .text .p2{
  font-size: 30px;
}
.middle .ul1{
  width:100%;
  display: flex;
  justify-content: space-around;
}
.middle .ul1 li:first-child {
  position: relative;
    left: 65px;
    top: 60px;
}
.middle .ul1 li:nth-child(2) {
  margin-top:30px;
}
.middle .ul1 li:nth-child(3) {
  position: relative;
    right: 65px;
    top: 60px;
}
.middle .ul2{
    width: 690px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -228px;
}
.middle ul li {
  width: 172px;
  height: 174px;
  background: url(../image/xianlu.png) no-repeat;
  background-size: 100%;
  text-align: center;
  margin-top: 32px;
  cursor: pointer;
}

.middle ul li a {
  display: block;
}
.middle ul li span {
  display: block;
}
.middle ul li .title {
  font-size: 20px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #FFFFFF;
  margin-top:45px;
}
.middle ul li .url {
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #FFFFFF;
  margin-top:10px;
}
.middle ul li .fw {
  font-size: 20px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #FCFF00;
  margin-top:9px;
}
.line .check {
  width: 232px;
  line-height: 54px;
  height: 56px;
  color: white;
  font-size: 22px;
  background: url(../image/check.png) no-repeat  center;
}
.carousel {
  width:100%;
  text-align: center;
  margin-top:140px;
}
.carousel .title {
  margin:0px 0 40px 0;
}
.carousel .c_box {
  padding-top: 30px;
}
.tj {
  width:100%;
  text-align: center;
}

.footer {
  width: 100%;
  height: 70px;
  line-height: 70px;
  background: linear-gradient(90deg, #4FADE6, #65E0F4);
  text-align: center;
}
.footer span {
  font-size: 22px;
  font-family: Microsoft YaHei;
  color: #FFFFFF;
}
li a {
  display: block;
  width: 100%;
}
#zhen {
  /* transition: 0.6s; */
  /* transform:rotate(-120deg);
  -ms-transform:rotate(-120deg); 
  -moz-transform:rotate(-120deg); 	
  -webkit-transform:rotate(-120deg); 
  -o-transform:rotate(-120deg); */
}
.kf {
  width:218px;
  height: 162px;
  background: url('../image/kf.png');
  position: absolute;
  top:50px;
  right:0px;
  z-index: 1000;
  transition: all .3s ease;
}
.kf a {
  display: block;
  width: 100%;
  height: 100%;
}