@charset "utf-8";html{background:#fff;color:#000}
article,aside,blockquote,body,button,code,dd,details,div,dl,dt,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,hr,input,legend,li,menu,nav,ol,p,pre,section,td,textarea,th,ul{margin:0;padding:0}
body,button,input,select,textarea{font:12px \5b8b\4f53,arial,sans-serif}
body,html{width:100%;font-family:"微软雅黑",arial,sans-serif;background-color:#202020;position:relative;overflow-x: hidden;overflow-y: auto;}
html{-o-overflow-style:-o-autohiding-scrollbar;-webkit-font-smoothing:antialiased;-webkit-overflow-scrolling:touch;-moz-overflow-scrolling:touch;-o-overflow-scrolling:touch;overflow-scrolling:touch}
input,select,textarea{font-size:100%;font-family:"微软雅黑";line-height:20px;display:inline-block;outline:0}
input:focus,select:focus,textarea:focus{border:1px solid #735a6f}
button{background:0 0;border:none;cursor:pointer}
table{border-collapse:collapse;border-spacing:0}
th{text-align:inherit}
fieldset,img{border:none}
iframe{display:block}
abbr,acronym{border:none;font-variant:normal}
del{text-decoration:line-through}
i{font-style:normal}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
q:after,q:before{content:''}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
a{color:#000;}
a:hover{text-decoration:none}
a,ins{text-decoration:none}
a:focus{outline:0}
.clearfix:after,.clearfix:before{content:"";display:table}
.clearfix:after{clear:both;overflow:hidden}
.clearfix{zoom:1}
.clear{clear:both;display:block;font-size:0;height:0;line-height:0;overflow:hidden}
.hide{display:none}
.block{display:block}
.fl,.fr{display:inline}
.fl{float:left}
.fr{float:right}

body {
    background: #000;
}
/* body::-webkit-scrollbar{
    display: none;
} */
.content {
    width: 100%;
}
.kf {
    width:147px;
    height: 215px;
    background: url('../images/kf.png') ;
    position: absolute;
    top:260px;
    right:20px;
    z-index: 1000;
    transition: all .3s ease;
}
 .kf a {
    display: block;
    width: 100%;
    height: 100%;
}
.header {
    width:100%;
    height: 120px;
    background: linear-gradient(0deg, #0F0F0F, #1C1C1C);
}
.header .box {
    width:1200px;
    height: 100%;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 .banner {
     width:100vw;
     height: 29.53vw;
     margin:0 auto;
     background: url(../images/banner.png) no-repeat;
     background-size:100% 100%;
 }

.wrap {
    width: 100%;
    /* height: 1140px; */
    background: url(../images/bg.png);
    background-size:100% 100%;
    padding-top:30px;
}
.line {
    width:100%;
}
.line ul {
    width:1200px;
    display: flex;
    margin:0 auto;
    justify-content: space-between;
}
.line ul li {
    width:240px;
    height: 252px;
    background: url(../images/li_bg.png);
    text-align: center;
}
.line ul li span {
    display: block;
}
.line ul li .title {
    font-size: 20px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #CDAE61;
    margin-top:79px;
}
.line ul li .url {
    font-size: 14px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #B46F04;
    margin:5px 0;
}
.line ul li .ms {
    font-size: 16px;
    font-family: PingFang SC;
    font-weight: bold;
    color: #CFAF6D;
}
.line ul li a {
    display: block;
    width: 152px;
    height: 40px;
    margin:10px auto 0;
}
.line .reCheck {
    display: block;
    margin-top:30px;
    text-align: center;
}
.line .reCheck img {
    width:100%;
}

.carousel {
    width:100%;
    text-align: center;
}
.carousel .title {
    margin:50px 0 30px 0;
}
.game {
    width:1200px;
    margin:38px auto 0;
}
.footer {
    width:100%;
    text-align: center;
    margin-top:77px;
    overflow: hidden;
}

.footer img {
    width:100%;
}
.footer .copyright {
    width: 100%;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size:16px;
    color: #5e4d21;
    background: #0b0b0b;
    margin-top:30px;
}

