html {
	background: rgb(44, 24, 6); margin: 0px; padding: 0px; font-family: "Microsoft YaHei",Î¢ÈíÑÅºÚ,"Microsoft JhengHei";
}
body {
	background: rgb(44, 24, 6); margin: 0px; padding: 0px; font-family: "Microsoft YaHei",Î¢ÈíÑÅºÚ,"Microsoft JhengHei";
}
* {
	margin: 0px; padding: 0px;
}
img {
	border: 0px currentColor;
}
a {
	font-size: 12px; text-decoration: none;
}
ol {
	list-style: none;
}
ul {
	list-style: none;
}
li {
	list-style: none;
}
.clear::after {
	height: 0px; color: rgb(0, 3, 37); clear: both; display: block; content: ".";
}
.clear {
	zoom: 1;
}
.top {
	background: rgb(65, 36, 13); width: 100%; border-bottom-color: rgb(151, 89, 48); border-bottom-width: 1px; border-bottom-style: solid;
}
.top div {
	background: url("top_bj.jpg") no-repeat top; margin: auto; width: 980px; height: 143px;
}
.top div span {
	background-position: 88% 55px; width: 500px; height: 143px; float: right; display: block; background-repeat: no-repeat;
}
.top div .xl {
	background-image: url("xl_top.png");
}
.top div .zn {
	background-image: url("zn_top.gif");
}
.xljc_nr {
	background: rgb(50, 27, 4); padding: 20px 0px; width: 100%;
}
.xljc_lnr {
	margin: auto; width: 980px;
}
.xljc_nr_left {
	background: rgb(74, 41, 16); margin: 0px 0px 0px 15px; border: 1px solid rgb(96, 53, 21); width: 710px; height: 600px; float: left;
}
.xljc_nr_left ul span {
	background: rgb(62, 32, 10); margin: 20px auto 5px; border: 1px solid rgb(96, 53, 21); width: 680px; height: 32px; color: rgb(255, 204, 114); line-height: 32px; font-size: 12px; display: block;
}
.xljc_nr_left ul span b {
	margin: 0px 10px 0px 20px; color: rgb(242, 168, 82); font-size: 14px;
}
.httpRefresh {
	background: url("http_Refresh.gif") no-repeat; margin: 0px 0px 25px 50px; width: 202px; height: 39px; display: block;
}
.httpRefresh:hover {
	background-position: left bottom;
}
.xljc_nr_left_UniverseBrowser {
	background-position: 20px 10px; margin: 20px auto; border: 1px solid rgb(96, 53, 21); width: 680px; height: 62px; color: rgb(233, 226, 145); display: block; background-image: url("UniverseBrowser.gif"); background-repeat: no-repeat; background-color: rgb(53, 32, 18);
}
.xljc_nr_left_UniverseBrowser:hover {
	border: 1px solid rgb(148, 65, 29); color: rgb(254, 255, 161); background-color: rgb(57, 28, 3);
}
.xljc_nr_left_UniverseBrowser b {
	padding: 10px 0px 0px 200px; line-height: 22px; font-size: 14px; display: block;
}
.xljc_nr_left_UniverseBrowser b span {
	color: rgb(172, 51, 14); text-decoration: underline;
}
.xljc_nr_right {
	padding-left: 5px; float: left;
}
.Nav a {
	border: 1px solid rgb(96, 53, 21); width: 230px; height: 70px; margin-bottom: 2px; display: block; cursor: pointer; background-color: rgb(75, 42, 17);
}
.Nav a:hover {
	background: left bottom rgb(74, 37, 9); border: 1px solid rgb(111, 52, 7); color: rgb(243, 149, 86);
}
.xljc_nr_Tips {
	background: rgb(75, 42, 17); border: 1px solid rgb(96, 53, 21); width: 230px; height: 155px;
}
.xljc_nr_Tips div {
	padding: 10px 0px 0px 10px;
}
.xljc_nr_Tips div img {
	width: 200px;
}
.xljc_nr_Tips div span {
	color: rgb(219, 166, 103); padding-bottom: 8px; font-size: 12px; display: block;
}
.xljc_nr_Tips div b {
	color: rgb(208, 176, 108); font-size: 12px; display: block;
}
.xljc_nr_Tips div p {
	padding: 5px 0px; color: rgb(219, 166, 103); line-height: 18px; font-size: 12px;
}
.xljc_nr_Tips div p a {
	color: rgb(219, 115, 31); font-weight: bold; text-decoration: underline;
}
.xljc_nr_Tips div p a:hover {
	color: rgb(248, 208, 122);
}
.xljc_nr_Tips div p span {
	color: rgb(176, 133, 101);
}
.by {
	background: rgb(44, 24, 6); width: 100%; border-top-color: rgb(68, 36, 7); border-top-width: 1px; border-top-style: solid;
}
.by div {
	margin: auto; width: 980px; height: 50px;
}
.by div span {
	padding: 20px 0px 0px; text-align: center; color: rgb(96, 72, 50); font-size: 12px; display: block;
}
.dns_nr {
	background: rgb(50, 27, 4); padding: 20px 0px; width: 100%;
}
.dns_lnr {
	background: rgb(74, 41, 16); margin: auto; padding: 10px 20px 20px; border: 1px solid rgb(96, 53, 21); width: 940px;
}
.dns_lnr span {
	padding: 10px 0px; color: rgb(240, 218, 143); line-height: 25px; font-size: 14px; display: block;
}
.dns_lnr span a {
	color: rgb(239, 119, 53);
}
.dns_lnr span a:hover {
	color: rgb(240, 218, 143);
}