body{ background:#023125;font-family:Arial,Helvetica,sans-serif;}
* {
  box-sizing: border-box;
}
#Vue {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; 
  height: 100%;
  position: absolute;
  width: 100%;
}
.main {
  margin-bottom: 1.84rem;
}
.kf {
  display: block;
  width: 1.82rem;
  height: 2.02rem;
  position: fixed;
  top:4.6rem;
  right:0.3rem;
  z-index: 1000;
}
.kf img {
  width: 1.82rem;
  height: 2.02rem;
}
.header {
  width:100%;
  height: 1.56rem;
  background: #004531;
  padding:0 0.16rem 0 0.44rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo{
  width:3.13rem;
  height: 0.73rem;
}
.header .url{
  width: 3.65rem;
  height: 1.03rem;
}
.banner img{
  width:100%;
  height: 5.48rem;
}
.nav {
  margin-top:-0.9rem;
}
.nav img {
  width:100%;
  height: 4.86rem;
}
.content {
  width:100%;
  margin-top:-0.8rem;
}
.content .line{
  width:100%;
  background-size:100% 100%;
  padding:0 0.48rem 0.25rem 0.48rem;
}
.content .line .gg {
  color: #B3B3B3;
  display: flex;
  height: 0.85rem;
  line-height: 0.85rem;
}
.content  .line .gg .zx {
  color: #FCFF00;
  width: 2.2rem;
  font-size: 0.37rem;
  padding-left:0.1rem;
}
.content .line .gg img {
  vertical-align: middle;
  width: 0.41rem;
  height: 0.4rem;
}
.content .line ul {
  width:100%;
}
.content .line ul li{
  height: 0.61rem;
  margin-bottom: 0.15rem;
  display: flex;
  justify-content: space-between;
}
.content .line ul li .ms {
  width: 1.47rem;
  height: 0.61rem;
  line-height: 0.61rem;
  background: #055D46;
  font-size: 0.34rem;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #F5DB1F;
  text-align: center;
}
.content .line ul li .jt {
  height: 0.61rem;
  display: flex;
  align-items: center;
  margin:0 0.1rem;
}
.content .line ul li .jt img {
  width:0.61rem;
  height: 0.27rem;
}
.content .line ul li .url {
  width: 4.21rem;
  height: 0.61rem;
  line-height: 0.61rem;
  background: #055D46;
  font-size: 0.37rem;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color:#FFFFFF;
  text-align: center;
}
.content .line ul li .btn-open {
  width: 1.8rem;
  height: 0.61rem;
  line-height: 0.61rem;
  background: #f4db1f;
}
.content .line ul li .btn-open a {
  display: block;
  width:100%;
  height: 100%;
  font-size: 0.34rem;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #161617;
  text-align: center;
}
.content .line .reCheck {
  display: block;
  width:5.33rem;
  height: 1.01rem;
  margin:0.41rem auto 0;
  background: url(../images/btn.png);
  background-size:100% 100%;
}
.content .carousel {
  width:100%;
  background: -webkit-linear-gradient(#061E18, #012F23); /* Safari 5.1 - 6.0 */ 

     background: -o-linear-gradient(#061E18, #012F23); /* Opera 11.1 - 12.0 */ 

    background: -moz-linear-gradient(#061E18, #012F23); /* Firefox 3.6 - 15 */

    background: linear-gradient(#061E18, #012F23); /* 标准的语法 */
}
.content .carousel .title {
  width:100%;
  text-align: center;
}
.content .carousel .title img{
  width:7.45rem;
  height: 0.49rem;
}
.content .ljzc {
  display: block;
  width:6.37rem;
  height: 2.11rem;
  margin:0 auto;
  margin-top: 0.32rem;
}
.content  .ljzc img{
  width:100%;
  height: 100%;
}
.content .nav {
  width:100%;
  background: #161617;
  padding-top:0.27rem;
}
.content .nav .box {
  width:8.3rem;
  height: 1.8rem;
  margin:0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.content .nav .box a {
  display: block;

}
.content .nav .box a img {
  width:1.47rem;
  height: 1.47rem;
}
.content .often table {
  width:100%;
  height: 4.4rem;
  border-collapse:collapse;
}
.content .often table tr td {
  width:2.4325rem;
  height: 2.2rem;
  background: #023D2E;
  text-align: center;
  border:1px solid #256e5c;
}

.content .often table tr td img {
  width:1.76rem;
  height: 1.55rem;
  margin-top:0.1rem;
}
.content .often table tr td span {
  display: block;
  font-size: 0.32rem;
  font-family: PingFang SC;
  font-weight: 400;
  color: #FFFFE8;
}
.footer {
  width:100%;
  height: 1.84rem;
  position: absolute;
  top:100%;
  bottom: unset;
  transform: translateY(-100%);
  z-index: 100000;
  background:rgba(0,0,0,0.75);
}
.footer img {
  width:100%;
  height: 1.84rem;
}